<h2>Create new Consola</h2>
<form action="/consolas/create" method="post">
<label>
    <p>Consola:</p>
</label>
    <input type="text" name="name">
<label>
    <p>Marca:</p>
</label>
    <input type="text" name="marca">
<label>
    <p>Memoria:</p>
</label>
    <input type="number" name="memory">
<button type="summit">Create🤪</button>
</form>
