
{{#with consola}}
<label>Consola:</label>
{{name}}<br>
<label>Marca:</label>
{{marca}}<br>
<label>Memoria:</label>
{{memory}}

<a href="/consolas/{{_id}}/update">Update🚀</a>

{{/with}}
<br>
<a href="/consolas">Back to List</a>

