<h2>Update Consola</h2>
<form action="/consolas/{{consola._id}}/update" method="post">

<label>Consola:</label>
<input type="text" value="{{consola.name}}" name="name" >
<label>Marca:</label>
<input type="text" value="{{consola.marca}}" name="marca">
<label >Memory:</label>
<input type="number" value="{{consola.memory}}" name="memory">
<button type="submit">Update🚀</button>

</form>